button,
.button {
  background: none;
  border: none;
  background-color: $enabledBackground;
  color: $enabledText;
  border: 1px solid $borderColor;
  padding: 1em 2em;
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;

  &.large {
    font-size: 1.25em;
  }

  &:focus {
    outline: none;
  }

  @at-root body.has-hover &:not(.disabled):hover {
    color: $selected;
    border-color: $selected;
  }

  .Currencies {
    font-size: 0.9em;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
    word-spacing: 0;
    padding-bottom: 0 !important;
  }
}

button.disabled,
.button.disabled,
.option-disabled button,
.option-disabled .button {
  border-color: $disabledBorderColor;
  background-color: $disabledBackground;
  color: $disabledText;
  cursor: auto;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60em;
  margin: 2em auto 1em auto;

  a {
    text-decoration: none;
  }
}
