.icon {
  position: relative;
  height: 3em;
  width: 3em;
  float: left;
  background-size: contain;
  background-position: center;
  margin: 0 1em 0 0;
}

.icon-inline {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  vertical-align: -0.4em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0.3em;
}

.icon-mana {
  background-image: url(./../content/media/icons/mana.svg);
}
.icon-internal-mana {
  background-image: url(./../content/media/icons/blood.svg);
}
.icon-external-mana {
  background-image: url(./../content/media/icons/crystals.svg);
}
.icon-circle {
  background-image: url(./../content/media/icons/circle.svg);
}
.icon-book {
  background-image: url(./../content/media/icons/book.svg);
}
.icon-rune {
  background-image: url(./../content/media/icons/rune.svg);
}
.icon-potion {
  background-image: url(./../content/media/icons/potion.svg);
}

.icon-negation {
  &:after {
    content: "";
    position: absolute;
    top: -10%;
    right: -10%;
    bottom: -10%;
    left: -10%;
    background-image: url(./../content/media/icons/negation.svg);
    background-size: contain;
    background-position: center;
  }
}

.centered-icons {
  display: flex;
  justify-content: center;

  .icon {
    width: 4em;
    height: 4em;
    float: none;
    margin: 0;
  }
}
