.icon {
  height: 3em;
  width: 3em;
  float: left;
  background-size: contain;
  background-position: center;
  margin: 0 1em 0 0;
}

.icon-inline {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  vertical-align: -0.45em;
  background-size: contain;
  background-position: center;
  margin: 0 0.5em;
}

.icon-mana {
  background-image: url(./../media/icons/mana.svg);
}
.icon-internal-mana {
  background-image: url(./../media/icons/blood.svg);
}
.icon-external-mana {
  background-image: url(./../media/icons/crystals.svg);
}
.icon-circle {
  background-image: url(./../media/icons/circle.svg);
}
.icon-book {
  background-image: url(./../media/icons/book.svg);
}

.centered-icons {
  display: flex;
  justify-content: center;

  .icon {
    width: 4em;
    height: 4em;
    float: none;
    margin: 0;
  }
}
