$selected: #ffbc57;
$positive: #a1ff49;
$negative: #ff8142;
$text: #ffdea0;
$background: #111;
$borderColor: #555;
$enabledBackground: #111;
$enabledText: #fff;
$selectableBorderColor: #999;
$selectableBackground: #3339;
$selectableText: #fec;
$disabledBackground: #111;
$disabledText: #555;
$disabledBorderColor: #222;
$titleFont: "Piazzolla", serif;

$statsBackground: #000;

body {
  background-color: $background;
  color: #eee;
  font-family: "Lato", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.App {
  position: relative;
  padding: 3em 2em 6em 2em;
  min-height: 100vh;
  background-color: $background;
  background-image: url("../content/media/general/pattern.png");
  background-size: 50px auto;

  #option-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em 0;
  }

  #overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background-image: url("../content/media/general/001_RV_TEXTURE_DIRT.png");
    background-size: 100% auto;
    pointer-events: none;
    opacity: 0.04;
  }
}

.Option {
  position: relative;
  transition: filter 0.3s, opacity 0.3s;

  .option-title {
    position: relative;
    font-family: $titleFont;
    display: flex;
    align-items: baseline;
  }

  .OptionImage {
    position: relative;
    border: solid $text;
    border-width: 1px 1px 6px 1px;
    overflow: hidden;

    .option-image-content {
      position: relative;
      background-position: center;
      background-size: cover;
      box-shadow: 0 0 5em 0 rgba(255, 178, 34, 0.2) inset;
      transition: filter 0.3s;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.option-image-nsfw {
      .option-image-content {
        filter: blur(10px);
      }
    }
  }

  .SelectControls {
    display: flex;
  }

  &.option-disabled {
    filter: grayscale(1);

    &.selected {
      filter: none;
    }

    .option-controls {
      pointer-events: none;
    }

    .OptionCost {
      opacity: 0.5;
      filter: grayscale(1);
    }

    .OptionImage {
      opacity: 0.5;
      filter: grayscale(1);
      transition: opacity 0.3s;
    }

    .button-container {
      pointer-events: none;
    }
  }
}

body.has-hover {
  .Option {
    .OptionImage {
      &.option-image-nsfw {
        &:hover {
          .option-image-content {
            filter: none;
          }
        }
      }
    }
    &.option-disabled {
      &:hover {
        filter: none;
      }
    }
  }
}

p {
  text-indent: 1.5em;
  hyphens: auto;
}

p,
ul,
ol {
  max-width: 40rem;
  margin: 0.5em auto;
  text-align: justify;
  line-height: 1.5;
  color: $text;
  transition: color 0.3s;
  clear: both;

  strong {
    color: $enabledText;
  }
}

li {
  margin: 0.5em 0;
}

h2 {
  font-weight: 400;
  color: $text;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  text-align: center;
}

button {
  background: none;
  border: none;
  background-color: $enabledBackground;
  color: $enabledText;
  border: 1px solid $borderColor;
  padding: 0.5em 2em;
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;

  &:focus {
    outline: none;
  }
}

body.has-hover {
  button {
    &:hover {
      color: $selected;
      border-color: $selected;
    }
  }
}

button.disabled,
.option-disabled button {
  border-color: $disabledBorderColor;
  background-color: $disabledBackground;
  color: $disabledText;
  cursor: auto;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60em;
  margin: 2em auto 1em auto;

  a {
    text-decoration: none;
  }
}

button.large {
  height: 3em;
}

.text-positive {
  color: $positive;
}
.text-negative {
  color: $negative;
}

.masonry-grid {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.recharts-wrapper {
  margin: 0 auto;
  font-weight: 700;
  max-width: 100%;

  svg {
    width: 100%;
  }

  .recharts-pie-sector {
    path {
      stroke: $background;
      stroke: #fff;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
    }

    &:nth-child(1) path {
      fill: #ffbb28;
    }
    &:nth-child(2) path {
      fill: #0088fe;
    }
    &:nth-child(3) path {
      fill: #00c49f;
    }
    &:nth-child(4) path {
      fill: #ff8042;
    }
    &:nth-child(5) path {
      fill: #d579ff;
    }
    &:nth-child(6) path {
      fill: #999;
    }
  }

  .recharts-pie-labels {
    .recharts-pie-label-line {
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #fff;
    }
  }
}

.mathdefault {
  font-style: italic;
}

.frac-line {
  border-bottom-style: solid;
}

@media (max-width: 1600px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@import "dialog";
@import "navigation";
@import "stats";
@import "path-link";
@import "icons";
@import "option-cost";
@import "option-requirements";
@import "option-is-selectable";
@import "option-integer";
@import "option-text";
@import "option-slider";
@import "option-is-container";
@import "option-group";
@import "option-instancer";
@import "user-styles";
