$selected: #ffbc57;
$positive: #88da04;
$negative: #ff8346;
$text: #ffdea0;
$background: #111;
$borderColor: #555;
$enabledBackground: #111;
$enabledText: #fff;
$selectableBorderColor: #ccc;
$selectableBackground: #1119;
$selectableText: #fec;
$disabledBackground: #111;
$disabledText: #555;
$disabledBorderColor: #222;
$titleFont: "Piazzolla", serif;

html {
  @media (max-width: 1600px) {
    font-size: 14px;
  }

  @media (max-width: 1200px) {
    font-size: 12px;
  }
}

body {
  background-color: $background;
  color: #eee;
  font-family: "Lato", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
  // -webkit-user-modify: read-write;
}

.App {
  position: relative;
  padding: 3em 2em 6em 2em;
  min-height: 100vh;
  background-color: $background;
  background-image: url("../content/media/general/pattern.png");
  background-size: 50px auto;

  @media (max-width: 500px) {
    padding: 3em 1em 6em 1em;
  }

  #option-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em 0;
  }

  #overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background-image: url("../content/media/general/001_RV_TEXTURE_DIRT.png");
    background-size: 100% auto;
    pointer-events: none;
    opacity: 0.04;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

#Lightbox {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #0009;
  backdrop-filter: blur(5px);
  transition: 0.3s;
  z-index: 22;

  &.opened {
    left: 0;
  }

  .lightbox-image {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    object-fit: contain;
  }

  .lightbox-credits {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font-family: monospace;

    a {
      color: inherit;
    }
  }
}

p {
  text-indent: 1.5em;
}

p,
ul,
ol,
h1,
h2,
h3 {
  max-width: 40rem;
  margin: 0.5em auto;
  clear: both;
  color: $text;
}

p,
ul,
ol {
  text-align: justify;
  line-height: 1.5;
  transition: color 0.3s;
  hyphens: auto;

  strong {
    color: $enabledText;
  }
}

li {
  margin: 0.5em 0;
  line-height: 1.3;
}

h2 {
  font-weight: 400;
  color: $selectableText;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  text-align: center;
  margin-top: 2em;
}

h3 {
  color: $selectableText;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  font-size: 0.75em;
  font-weight: 400;
  margin-top: 1em;
}

.text-positive {
  color: $positive;
}

.text-negative {
  color: $negative;
}

.Changelog {
  h2 {
    font-size: 1.25em;
  }
}

.masonry-grid {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.recharts-wrapper {
  margin: 0 auto;
  font-weight: 700;
  max-width: 100%;

  svg {
    width: 100%;
  }

  .recharts-pie-sector {
    path {
      stroke: $text;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: #6669;
    }

    &:nth-child(1) path {
      fill: #0009;
    }
    &:nth-child(2) path {
      fill: #5559;
    }
    &:nth-child(3) path {
      fill: #2229;
    }
    &:nth-child(4) path {
      fill: #4449;
    }
    &:nth-child(5) path {
      fill: #3339;
    }
    &:nth-child(6) path {
      fill: #1119;
    }
  }

  .recharts-pie-labels .recharts-pie-label-line {
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $text;
  }

  text {
    fill: $text;
  }
}

.mathdefault {
  font-style: italic;
}

.frac-line {
  border-bottom-style: solid;
}

@import "dialog";
@import "navigation";
@import "settings";
@import "stats";
@import "path-link";
@import "buttons";
@import "icons";
@import "summary-list";
@import "results";
@import "tooltips";
@import "option";
@import "option-cost";
@import "option-requirements";
@import "option-is-selectable";
@import "option-integer";
@import "option-text";
@import "option-slider";
@import "option-is-container";
@import "option-group";
@import "option-instancer";
@import "user-styles";
