.Option.option-group {
  > .option-content {
    > .option-collapsible-content {
      > .GroupControls {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 3em;
        margin-bottom: 3em;
      }
    }
  }
}
