.OptionRequirements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  .requirements-title {
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem 0;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;

    &:before,
    &:after {
      content: '—';
      display: inline-block;
      padding: 0.5em;
    }
  }

  .requirement {
    color: $negative;
    text-align: center;
    font-size: 0.8em;
    margin: 0.1rem 0;
    padding: 0 1rem;
    transition: 0.2s;

    &.met {
      color: $positive;
    }
  }
}

.option-requirements-warning {
  &.option-is-selectable,
  &.option-is-selectable.selected {
    > .option-content {
      border-color: $negative;
    }
  }
}
