.Option.option-is-container {
  width: 100%;

  > .option-content {
    > .option-title {
      text-align: center;
      font-size: 4.2361em;
    }

    > .OptionImage {
      max-width: 80em;
      margin: 1em auto;

      .option-image-content {
        padding-bottom: 33%;
      }
    }

    > .option-text {
      font-size: 1.25em;
    }
  }

  .Option.option-is-container {
    > .option-content {
      > .option-title {
        font-size: 3.3302em;
      }

      .Option.option-is-container {
        > .option-content {
          > .option-title {
            font-size: 2.618em;
          }

          .Option.option-is-container {
            > .option-content {
              > .option-title {
                font-size: 2.0582em;
              }

              .Option.option-is-container {
                > .option-content {
                  > .option-title {
                    font-size: 1.618em;
                  }

                  .Option.option-is-container {
                    > .option-content {
                      > .option-title {
                        font-size: 1.272em;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
