.Option.option-integer {
  .option-content {
    position: relative;
    background-color: #333;
    color: #ccc;
    border: solid #999;
    border-width: 1px 1px 6px 1px;
    transition: 0.3s;
    filter: grayscale(1);

    > .option-title {
      border-bottom: 1px solid #555;
      margin: 0 -2rem;
      padding: 0 0.5em;
      height: 2rem;
      display: flex;
      align-items: center;
    }
  }

  .option-image {
    max-width: 12em;
    margin: 1em auto;

    .option-image-content {
      padding-bottom: 162%;
      filter: blur(2px);
      transition: 0.3s;
    }
  }

  .OptionCost {
    position: absolute;
    top: 3em;
    right: 0;
    border-collapse: collapse;
    border: solid #555;
    border-width: 0 0 1px 1px;

    .cost {
      background-color: #222;

      .cost-title {
        font-size: 0.75em;
        padding: 0.25rem;
      }

      .cost-value {
        font-weight: 700;
        padding: 0.25rem;
      }
    }
  }

  &.selected {
    .option-content {
      background-color: #222;
      border-color: $selected;

      .option-title {
        color: #fff;
      }
    }

    .OptionCost {
      .cost.positive .cost-value {
        color: $positive;
      }
      .cost.negative .cost-value {
        color: $negative;
      }
    }
  }

  &.selected .option-content,
  .option-content:hover {
    filter: none;

    > .option-image {
      .option-image-content {
        filter: none;
      }
    }
  }

  .integer-checkbox {
    position: absolute;
    top: -1em;
    left: 50%;
    margin-left: -1em;
    width: 2em;
    height: 2em;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #999;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 1em;

    &:after {
      content: '✔';
      opacity: 0;
      transition: 0.3s;
      font-size: 1.5em;
    }

    &.checked {
      border-color: rgb(151, 217, 255);

      &:after {
        opacity: 1;
      }
    }

    &:hover {
      background-color: #555;
      border-color: rgb(151, 217, 255);
    }
  }

  .integer-spinbox {
    position: absolute;
    top: -1em;
    left: 0;
    right: 0;
    height: 2em;
    color: #fff;
    display: flex;
    justify-content: center;

    .integer-spinbox-content {
      position: relative;
      height: 100%;
      background-color: #000;
      border: 2px solid #999;
      display: flex;
      align-items: center;
      justify-content: center;

      .integer-value {
        padding: 0 2em;
        font-size: 1.25em;
        font-weight: 700;
      }

      button {
        width: 1em;
        height: 100%;
        background-color: #000;
        border: none;
        color: inherit;
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s;

        &:first-child {
          left: -0.1em;
        }

        &:last-child {
          right: -0.1em;
        }

        &:hover {
          background-color: #555;
          border-color: rgb(151, 217, 255);
        }

        &:focus {
          outline: none;
        }

        &.disabled {
          background-color: #555;
          border-color: #999;
          color: #ccc;
          cursor: auto;
        }
      }
    }
  }
}
