.Option.option-is-container {
  width: 100%;
  max-width: 120em;

  > .option-content {
    > .option-title {
      justify-content: center;
      font-size: 4.2361em;
    }

    > .option-collapsible-content {
      > .OptionImage {
        max-width: 80em;
        margin: 1em auto;

        .option-image-content {
          padding-bottom: 33%;
        }
      }

      > .option-text {
        font-size: 1.25em;
      }
    }
  }

  .Option.option-is-container {
    > .option-content {
      > .option-title {
        font-size: 3.3302em;
      }

      .Option.option-is-container {
        > .option-content {
          > .option-title {
            font-size: 2.618em;
          }

          .Option.option-is-container {
            > .option-content {
              > .option-title {
                font-size: 2.0582em;
              }

              .Option.option-is-container {
                > .option-content {
                  > .option-title {
                    font-size: 1.618em;
                  }

                  .Option.option-is-container {
                    > .option-content {
                      > .option-title {
                        font-size: 1.272em;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.option-collapsible {
  > .option-content {
    > .option-title .option-title-text {
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }

    .option-collapsible-content {
      padding: 0.1px 0;
      transition: 0.5s;
      overflow: hidden;
    }

    .option-collapsible-elipsis {
      position: relative;
      margin: 0.5em auto;
      width: 3em;
      height: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $disabledBorderColor;
      border-radius: 1em;
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      transition: 0.2s;

      > div {
        width: 0.5em;
        height: 0.5em;
        margin: 0 0.1em;
        background-color: $enabledText;
        border-radius: 50%;
        transition: 0.2s;
      }

      &:hover {
        background-color: $selectableBackground;
        opacity: 1;
        border-color: $borderColor;

        > div {
          margin: 0 0.16em;
        }
      }
    }
  }
  &.option-collapsed {
    .option-collapsible-elipsis {
      height: 2em;
      pointer-events: all;
      opacity: 0.3;
    }
  }
}
