.SliderControls {
  padding: 1em 2em 2em 2em;

  .slider-value {
    background: none;
    border: none;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font: inherit;
    font-size: 1.25em;
    font-weight: 700;
    color: $selected;
    border-bottom: 1px solid $borderColor;

    &:focus {
      outline: none;
    }
  }

  .rc-slider-track {
    background-color: $selected;
  }

  .rc-slider-handle {
    top: 50%;
    width: 1.5em;
    height: 1.5em;
    margin-top: -0.75em;
    border-color: $selectableText;
    transition: border-color 0.2s;

    &:hover {
      border-color: $selected;
    }

    &:active {
      box-shadow: none;
    }

    &.rc-slider-handle-click-focused {
      border-color: $selectableText;
    }
  }

  .rc-slider-dot {
    &.rc-slider-dot-active {
      border-color: $selected;
    }
  }

  .rc-slider-mark-text {
    transition: color 0.2s;
    color: $selectableText;

    &.rc-slider-mark-text-active {
      color: $selectableText;
    }
  }
}
