.Option {
  position: relative;
  transition: filter 0.3s, opacity 0.3s;

  .option-title {
    position: relative;
    font-family: $titleFont;
    display: flex;
    align-items: baseline;
  }

  .OptionImage {
    position: relative;
    border: solid $text;
    border-width: 1px 1px 6px 1px;
    overflow: hidden;

    .option-image-content {
      position: relative;
      background-position: center;
      background-size: cover;
      transition: filter 0.3s;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 5em 1em rgba(255, 178, 34, 0.2) inset;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
      }

      .image-open {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        display: block;
        width: 1.5em;
        height: 1.5em;
        border: 2px solid $selectableText;
        background-color: $selectableBackground;
        box-shadow: 0 0 0.3em $selectableBackground;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
        transition: 0.3s;

        path {
          stroke: $selectableText;
          stroke-width: 15;
          transition: 0.3s;
        }

        @at-root body.has-hover &:hover {
          border-color: $selected;

          path {
            stroke: $selected;
          }
        }
      }

      @at-root body.has-hover &:hover,
        body:not(.has-hover) & {
        .image-open {
          opacity: 1;
        }
      }
    }

    &.option-image-nsfw {
      .option-image-content {
        filter: blur(10px);
      }

      &:hover {
        .option-image-content {
          filter: none;
        }
      }
    }
  }

  .SelectControls {
    display: flex;
  }

  &.option-disabled {
    filter: grayscale(1);

    &.selected {
      filter: none;
    }

    .option-controls {
      pointer-events: none;
    }

    .OptionCost {
      opacity: 0.5;
      filter: grayscale(1);
    }

    .OptionImage {
      opacity: 0.5;
      filter: grayscale(1);
      transition: opacity 0.3s;
    }

    .button-container {
      pointer-events: none;
    }

    @at-root body.has-hover &:hover {
      filter: none;
    }
  }
}
