.GroupControls {
  margin-top: 3em;
  margin-bottom: 3em;
  overflow: auto;

  &.masonry-grid {
    overflow: visible;
  }

  &:not(.masonry-grid) {
    .option-is-selectable {
      margin: 0 auto;
    }
  }

  > table {
    border-collapse: collapse;
    background-color: $selectableBackground;
    box-shadow: 0.1rem 0.1rem 0.5rem #000, 0.1rem 0.1rem 0.2rem #fff1 inset;
    margin-right: auto;
    margin-left: auto;
    max-width: min(70em, calc(100% - 2px));
    min-width: 40em;

    > tbody > tr {
      &.selected {
        > td {
          background-color: $enabledBackground;
        }
      }

      > td {
        position: relative;
        border: 1px solid $borderColor;
        padding: 0.25em 0.5em;
        height: 3em;
        transition: 0.3s;

        &.choice-control-cell {
          width: 3em;

          .CheckboxControl {
            position: relative;
            top: 0;
            right: 0;
          }
        }

        &.choice-title-cell {
          min-width: 6em;
        }

        &.option-text {
          width: 37em;

          p {
            margin: 0.25em 0;
          }

          .OptionRequirements {
            align-items: flex-start;

            .requirements-title {
              display: none;
            }
          }
        }

        &.choice-cost-cell {
          min-width: 9em;

          .OptionCost {
            border: none;
            position: static;

            .cost {
              background-color: transparent;
            }
          }
        }
      }

      &.option-disabled {
        color: $disabledText;

        .option-text p {
          color: $disabledText;
        }
      }
    }
  }
}

body.has-hover {
  .GroupControls {
    > table {
      > tbody > tr {
        &:hover {
          > td {
            background-color: $enabledBackground;
          }
        }
      }
    }
  }
}
