.option-integer > .option-content > .option-title .option-title-text:after {
  content: "";
  display: inline-block;
  width: 5rem;
  height: 1rem;
}

.SpinboxControl {
  position: absolute;
  top: -2.6rem;
  right: 0.5rem;
  height: 2em;
  color: #fff;
  display: flex;
  justify-content: center;

  .integer-spinbox-content {
    position: relative;
    height: 100%;
    background-color: $selectableBackground;
    border: 1px solid $borderColor;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0.1rem 0.1rem 0.5rem #000, 0.1rem 0.1rem 0.2rem #fff1 inset;

    .integer-value {
      padding: 0 0.5em;
      font-size: 1.25em;
      font-weight: 700;
    }

    button,
    .button {
      width: 1em;
      height: 1em;
      font-size: 2em;
      padding: 0;
      border: 0;

      &:first-child {
        padding-bottom: 0.17em;
        margin-left: -2px;
      }

      &:last-child {
        padding-top: 0.08em;
        margin-right: -2px;
      }
    }
  }
}

.CheckboxControl {
  position: absolute;
  top: -2.6em;
  right: 0.5em;
  width: 2em;
  height: 2em;
  background-color: $selectableBackground;
  color: $enabledText;
  border: 1px solid $borderColor;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.5em #000, 0.1em 0.1em 0.2em #fff1 inset;

  &:after {
    content: "✔";
    opacity: 0;
    transition: 0.3s;
    font-size: 1.5em;
  }

  &.checked:after {
    opacity: 1;
  }

  @at-root body.has-hover &:hover {
    background-color: $enabledBackground;
    border-color: $selected;
  }
}

.option-disabled {
  .CheckboxControl {
    background-color: $disabledBackground;
    border-color: $disabledBorderColor;
    color: $disabledText;
  }

  .SpinboxControl {
    .integer-spinbox-content,
    button,
    .button {
      background-color: $disabledBackground;
      border-color: $disabledBorderColor;
      color: $disabledText;
    }
  }
}

.Option.selected {
  > .option-content > .option-collapsible-content > .IntegerControls,
  &.option-is-row {
    .integer-spinbox-content {
      border-color: $selected;
      box-shadow: 0.1rem 0.1rem 0.5rem #000, 0.1rem 0.1rem 0.2rem #fff1 inset,
        0 0 5px $selected;
    }

    .CheckboxControl {
      border-color: $selected;
      box-shadow: 0.1rem 0.1rem 0.5rem #000, 0.1rem 0.1rem 0.2rem #fff1 inset,
        0 0 5px $selected;
    }
  }
}

.Option.top-level > .option-content > .option-collapsible-content {
  > .IntegerControls {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 70em;

    .CheckboxControl {
      top: 2.5em;
    }
  }
}
