.masonry-grid {
  max-width: 100em;
  display: flex;
  flex-wrap: wrap;

  > .option-is-selectable {
    width: 25%;
  }
}

@media (max-width: 1200px) {
  .masonry-grid > .option-is-selectable {
    width: 33.3333%;
  }
}

.masonry-3 {
  max-width: 75em;

  > .option-is-selectable {
    width: 33.3333%;
  }
}

@media (max-width: 900px) {
  .masonry-grid,
  .masonry-3 {
    > .option-is-selectable {
      width: 50%;
    }
  }
}

.masonry-2 {
  max-width: 50em;

  > .option-is-selectable {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .masonry-grid,
  .masonry-3,
  .masonry-2 {
    > .option-is-selectable {
      width: 100%;
    }
  }
}

.masonry-1 {
  max-width: 25em;

  > .option-is-selectable {
    width: 100%;
  }
}

.option-is-selectable {
  width: 100%;
  max-width: 100em;
  padding: 0.25em 0.25em 0.75em 0.25em;

  &:not(.option-is-row):not(.option-is-list) {
    > .option-content {
      position: relative;
      background: $selectableBackground;
      color: $selectableText;
      height: 100%;
      border: solid $selectableBorderColor;
      border-width: 1px 1px 5px 1px;
      transition: filter 0.3s, border 0.3s, background 0.3s, color 0.3s,
        box-shadow 0.3s;
      filter: grayscale(0.75);
      box-shadow: 0.1rem 0.1rem 0.2rem #000, 0.1rem 0.1rem 0.2rem #fff3 inset;

      > .option-title {
        border-bottom: 1px solid $borderColor;
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-size: 1.25em;
        min-height: 2.6em;
        display: flex;
        align-items: flex-end;
      }
    }

    .OptionImage {
      max-width: 11em;
      margin: 1em auto;

      .option-image-content {
        padding-bottom: 162%;
      }
    }

    .option-image-placeholder {
      height: 1.5em;
    }

    .option-text {
      padding: 0 1rem;
      min-height: 1rem;

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    > .option-content {
      > .option-collapsible-content {
        position: relative;
        padding: 1px 0;

        > .GroupControls {
          font-size: 0.9em;
          padding-top: 0.5em;
          margin: 0;

          .option-is-selectable > .option-content {
            border-color: $borderColor;
          }

          .Option:last-child {
            margin-bottom: 0;
          }

          .option-select,
          .option-group {
            > .option-content > .option-collapsible-content > .option-text {
              min-height: 0;
            }
          }

          .SelectControls,
          .GroupControls {
            margin: 0;
          }
        }
      }

      @at-root body.has-hover &:hover {
        background-color: $enabledBackground;
        filter: none;
      }
    }
  }

  &.option-is-list {
    padding: 0 0 0.5em 0;
    margin-top: 0 !important;

    &:last-child {
      padding-bottom: 1em;
    }

    > .option-content {
      padding: 0 1em;

      .option-title {
        margin-top: 0.25em;
        margin-left: 2.2em;
        font-size: 1em;
      }

      .option-collapsible-content {
        .option-image-placeholder {
          display: none;
        }

        .option-cost-wrap {
          .OptionCost {
            position: relative;
            top: 0;
            margin-top: -1.6em;
            min-height: 1.6em;
            margin-left: auto;
            border: none;
          }
        }

        .option-text {
          min-height: 0;
        }

        .IntegerControls {
          .option-controls {
            top: 0em;
            left: 1.5em;
            font-size: 0.75em;
          }
        }
      }
    }
  }

  &:not(.selected) {
    .option-title {
      text-shadow: none;
    }

    p {
      color: $selectableText;
    }
  }

  &.selected:not(.option-is-list) > .option-content {
    border-color: $selected !important;
    box-shadow: 0.1rem 0.1rem 0.5rem #000, 0.1rem 0.1rem 0.2rem #fff1 inset,
      0 0 5px $selected;
  }

  &.selected > .option-content {
    background-color: $enabledBackground !important;
    filter: none !important;

    > .option-title {
      color: $selected;
    }
  }
}

.option-disabled {
  .option-is-selectable,
  &.option-is-selectable {
    .option-content {
      background-color: $disabledBackground;
      border-color: $disabledBorderColor;
      color: $disabledText;

      .option-title {
        color: $disabledText;
        border-color: $disabledBorderColor;
      }

      .option-collapsible-content {
        .option-text {
          p,
          strong {
            color: $disabledText;
          }
        }

        .OptionCost {
          filter: grayscale(1);
          opacity: 0.5;
        }
      }
    }
  }
}
