.option-is-selectable {
  width: 25em;
  max-width: 100%;
  margin: 0.5em 0 1em 0;
  padding: 0 0.5em;

  > .option-content {
    position: relative;
    background-color: $selectableBackground;
    color: $selectableText;
    border: solid transparent;
    border-width: 1px;
    transition: filter 0.3s, border 0.3s, background 0.3s, color 0.3s,
      box-shadow 0.3s;
    filter: grayscale(1);
    box-shadow: 0.1rem 0.1rem 0.5rem #000, 0.1rem 0.1rem 0.2rem #fff1 inset;
    border-radius: 0.5em;

    > .option-title {
      border-bottom: 1px solid $borderColor;
      padding: 0.5rem 1rem 0.5rem 1rem;
      font-size: 1.25em;
    }
  }

  .OptionImage {
    max-width: 10em;
    margin: 1em auto;

    .option-image-content {
      padding-bottom: 162%;
    }
  }

  .option-image-placeholder {
    height: 1em;
  }

  .option-text {
    padding: 0 1.5em;
    min-height: 1em;
  }

  > .option-content > .option-collapsible-content {
    position: relative;
    padding: 1px 0;

    > .GroupControls {
      padding-top: 0.5em;
      margin: 0;

      .Option:last-child {
        margin-bottom: 0;
      }

      > .Option:last-child {
        margin-bottom: 0.5rem;
      }

      .option-select,
      .option-group {
        > .option-content > .option-collapsible-content > .option-text {
          min-height: 0;
        }
      }

      .SelectControls,
      .GroupControls {
        margin: 0;
      }

      .option-image-placeholder {
        display: none;
      }
    }
  }

  &:not(.selected) {
    p {
      color: $selectableText;
    }
  }

  &.selected {
    > .option-content {
      border-color: $selected;

      > .option-title {
        color: $enabledText;
      }
    }
  }

  &.selected > .option-content,
  > .option-content:hover {
    background-color: $enabledBackground;
    filter: none;
  }
}

.option-disabled {
  .option-is-selectable,
  &.option-is-selectable {
    .option-content {
      background-color: $disabledBackground;
      border-color: $disabledBorderColor;
      color: $disabledText;

      .option-title {
        color: $disabledText;
        border-color: $disabledBorderColor;
      }

      .option-collapsible-content {
        .option-text p {
          color: $disabledText;
        }

        .OptionCost {
          filter: grayscale(1);
          opacity: 0.5;
        }
      }
    }
  }
}
