.Breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: monospace;
  padding-left: 1em;

  .Link {
    text-decoration: none;
  }
}

.path-separator {
  padding: 0 0.2em;
}

.Link {
  cursor: pointer;
  transition: 0.2s;
  text-decoration: underline;
  color: inherit;
}

body.has-hover {
  .Link {
    &:hover {
      color: $selected;
    }
  }
}
