.Settings {
  .settings-title {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .setting-row {
    display: flex;

    .setting-name {
      padding-right: 0.5em;
    }
  }

  select {
    &:focus {
      outline: none;
    }
  }
}
