.Settings {
  padding: 5rem 2rem 2rem 2rem;

  .setting-row {
    display: flex;
    align-items: center;
    margin: 0.5em 0;

    .setting-name {
      padding-right: 0.5em;
      min-width: 10em;
      font-size: 0.8em;
    }
  }

  select {
    min-width: 12em;
    background-color: $background;
    color: $text;
    border: none;
    padding: 0.25em 0.5em;

    &:focus {
      outline: none;
    }
  }
}
