.Stats {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 32px;
  background-color: $statsBackground;
  padding: 0 4em 0 2em;
  z-index: 19;
  display: flex;
  align-items: center;

  @media (max-width: 900px) {
    padding: 0 4em 0 0.5em;
  }

  .Warnings {
    padding-left: 0.5rem;

    .warning-icon {
      background-color: $negative;
      color: $enabledText;
      border: 2px solid $enabledText;
      transform: rotate(45deg) rotateX(0deg);
      width: 1em;
      height: 1em;
      text-align: center;
      line-height: 0.65;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s;
    }

    .warning-list {
      position: absolute;
      top: 100%;
      background-color: $statsBackground;
      padding: 0.5rem;
      font-size: 0.8em;
      border: 1px solid $borderColor;

      .warning {
        display: flex;
        align-items: center;
        padding: 0.25em 0;

        .warning-path {
          padding-right: 0.5rem;
          font-family: monospace;
          color: $selectableText;
        }
      }
    }
  }

  .stats-links {
    display: flex;
    padding-left: 0.5rem;
    margin-left: auto;

    .stats-link {
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      padding-left: 0.5rem;
      font-family: $titleFont;

      a {
        text-decoration: none;
      }
    }

    @media (max-width: 900px) {
      display: none;
    }
  }
}

body.has-hover {
  .Stats {
    .Warnings {
      .warning-icon {
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

.Currencies {
  display: flex;
  align-items: center;

  .currency {
    display: flex;
    align-items: center;
    padding: 0 0.5em;

    .currency-name {
      padding-right: 0.5em;
      font-size: 0.75em;

      &:after {
        content: ':';
      }
    }

    .currency-value {
      font-weight: 700;
    }
  }
}

.Option .Currencies {
  color: $enabledText;
  max-width: 70rem;
  margin: 0 auto 0 auto;
  padding: 0.5em 1em;
  justify-content: flex-end;
}
