.SummaryList {
  position: relative;
  list-style-type: none;
  padding: 0 0 0 1rem;
  margin: 0 0 0.5rem 0;

  .SummaryList:before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    top: 0.5rem;
    bottom: 0;
    left: -1em;
    background-color: $borderColor;
  }

  .SummaryItem {
    position: relative;

    .summary-item-close {
      display: block;
      position: absolute;
      top: 0.2em;
      left: -1.4em;
      width: 0.8em;
      transform: rotate(-90deg);
      cursor: pointer;
      transition: 0.3s;

      path {
        stroke: $selected;
        stroke-width: 10;
        fill: none;
      }

      @at-root body.has-hover &:hover {
        top: 0.1rem;
      }
    }

    &.opened > .summary-item-close {
      transform: rotate(0deg);
    }

    .summary-item-title {
      display: flex;
      align-items: center;
      color: $selectableText;

      .Link {
        text-decoration: none;
      }

      .summary-title-value {
        font-size: 0.7em;
        margin: 0.4em 0 0 0.8em;
        color: $selected;
      }
    }
  }
}
