.option-title .version {
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 1.25rem;
  text-shadow: none;
  color: $selectableText;
  padding-left: 0.5em;
  margin-left: auto;
  display: inline-block;
}

.table-of-contents {
  margin-top: 2em !important;

  th {
    border-bottom-color: $selected !important;
  }

  td:first-child {
    text-align: center;

    .Link {
      font-family: $titleFont;
      color: $selected;
      text-decoration: none;
    }
  }
}

.period {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .period-text {
    margin-right: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.75em;
  }
}

.mana-cost {
  text-align: center;
  margin: 1em 0;

  &.positive {
    color: $positive;
  }

  &.negative {
    color: $negative;
  }

  &:before {
    content: "";
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    vertical-align: -0.4em;
    margin-right: 0.3em;
    background-image: url(./../content/media/icons/mana.svg);
    background-size: contain;
    background-position: center;
  }
}

.magic-icon-option .option-image-content {
  background-image: linear-gradient(15deg, #424242 0%, #1f1f1f 100%);

  img {
    object-fit: contain !important;
  }
}

.tags {
  margin: 0.5em 0;
  display: flex;
  flex-wrap: wrap;

  .tag {
    color: $text;
    border: 1px solid $borderColor;
    padding: 0.2em 1em 0.2em 0.5em;
    margin-right: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.75em;
    border-radius: 0 1em 1em 0;
  }
}
